  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .spacer {
    flex: 1;
  }

  .SpaceItems.active-link {
    font-weight: bold;
    color: green;
    text-decoration: underline;
  }

  .SpaceItems{
    font-size: 14px;
    font-family: 'Saira', sans-serif;
    line-height: 1.428571429;
    color: white;
    margin-left: 20px;
    margin-right: 20px;
  }

  .navbar {
  width: 100%;
  overflow: auto;
}

.navbar a {
  float: right;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 12px;
}

.content {

    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
  }

  
  .matToolbarSCC{
    background-color: #313131;
    font-family: 'Saira', sans-serif !important;
    size: 28px;
    line-height: 1.428571429;
    color: #333333;
  }
